
.nav-item {
    color: black;
}



/* ---- slider ---- */
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;

}

.carousel-caption h5{
    font-size: 100px;
    font-weight: 500;
}

.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}

.slider-btn{
    margin-top: 30px;

}

.slider-btn .btn{
    background-color: #94C11F;
    color: white;
    border-radius: 0;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
    margin-top: 15px;

}

.slider-btn .btn-2{
    color: black;
    background-color: white;
}

.w2fu h3 {
    bottom: 180px;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    font-size: 60px;

}

.col-4 {
   
   max-width: 100%;
   height: auto;
}

.col-6 h4 {
    font-size: 30px;
}